/*font for heading of BestOffers section*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@500&display=swap");

body {
  background-color: #242b2e;
  color: white;
  /**/
  /**/
  /**/
  margin-top: 10%;
}
.sectionHead {
  margin-top: 3.3%;
  margin-bottom: 3.1%;
}
.sectionHeading {
  /*font-family: "Montserrat", "sans-serif";*/
  font-family: "Zilla Slab", serif;
  font-size: 2.4vw;
  margin-left: 3%;
}

.sectionHeadingLeftLine {
  width: 10%;
  display: inline-block;
  margin-left: -5%;
}

.sectionHeadingLeftCircle {
  margin-left: -1%;
}

.sectionHeadingRightLine {
  width: 46%;
  display: inline-block;
  margin-left: 3%;
}

.sectionHeadingRightCircle {
  margin-left: -47%;
}

.sectionHead h2 {
  width: 50%;
  display: inline;
}

.listOfOffers {
  list-style: none;
  /*padding: auto;*/
  padding: 0;
  text-align: center;
}

ul li {
  display: inline-block;
  flex-wrap: wrap;
  margin: 0.6vw;

  width: 22%;
}

ul li img {
  height: 15vw;
  width: 100% !important;
  border-radius: 4%;
}

@media screen and (max-width: 768px) {
  .sectionHeading {
    font-size: 2vw;
    margin-bottom: -2vw;
  }
  ul li {
    margin: 0.7vw;
  }
  ul li img {
    height: 15vw;
  }
}

@media screen and (max-width: 576px) {
  .sectionHeading {
    font-size: 2vw;
    margin-bottom: -2vw;
  }
  ul li {
    margin: 0.7vw;
  }
  ul li img {
    height: 15vw;
  }
}

/* Contact us section  */
#contactUs {
  margin: 10px;
  /* display: flex;
  flex-direction: row; */
  /* border: 1px solid black; */
}
.contact_us ul {
  margin: 5vw;
}
.contact_us ul li {
  display: flex;
  flex-direction: column;
  width: 10vw;
}
.c1 {
  font-size: 18px;
  font-family: "Arial";
  color: white;
}
.c2 a {
  text-decoration: none;
}
.c2_1 {
  color: grey;
}
#contact-container {
  color: white;
  width: 80vw;
  margin: 5vw;
}

#form{
  width:60%;
  margin-right:40px;

}

#contact-detail input,
textarea {
  background: inherit;
  border: none;
}
#contact-detail button {
  background: inherit;
  color: white;
  padding: 10px;
  border-color: white;
  margin-left: 30%;
}


/* Deepa */

.heading {
  font-family: "Zilla Slab", serif;
  font-size: 2.4vw;
  margin-left: 3%;
}

.heading::after {
  content: '';
  width: 65%;
  height: 2px;
  background-color: white;
  position: absolute;
  margin-left: 40px;
  margin-top: 1.45rem;
}

.top-brands .container {
  display: flex;
  width: calc(100%-50px);
  margin-left: 50px;
  margin-right: 50px;
  overflow-x: scroll;
  gap: 25px;
  padding-bottom: 30px;
}

.top-brands .container::-webkit-scrollbar {
  width: 5px;
  height: 8px;
}

/* Track */
.top-brands .container::-webkit-scrollbar-track {
  background: transparent; 
}
 
/* Handle */
.top-brands .container::-webkit-scrollbar-thumb {
  background: #999; 
  border-radius: 10px;
}


/* Handle on hover */
.top-brands .container::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.top-brands .image img{
  width: 17rem;
  height: 13rem;
  border-radius: 6px;
  object-fit: cover;
}

.top-brands .content {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto';
  margin-top: 5px;
}

.top-brands .content h4, p, h5 {
  margin: 3px;
}

.top-brands .content h5 {
  color: #999;
}

.top-brands .brand .image {
  transition: 0.3s transform;
}

.top-brands .brand:hover .image {
  transform: scale(1.05);
}

/* Deepa */