/*font for heading of BestOffers section*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap");

body {
  background-color: #242b2e;
  color: white;
  /**/
  /**/
  /**/
  margin-top: 10%;
}

.sectionHeading {
  font-family: "Montserrat", "sans-serif";
  font-size: 2vw;
}

.listOfOffers {
  list-style: none;
  /*padding: auto;*/
  padding: 0;
  text-align: center;
}

ul li {
  display: inline-block;
  flex-wrap: wrap;
  margin: 0.9vw;
  width: 22%;
}

ul li img {
  height: 15vw;
  width: 100% !important;
  border-radius: 4%;
}

@media screen and (max-width: 768px) {
  .sectionHeading {
    font-size: 2vw;
    margin-bottom: -2vw;
  }
  ul li {
    margin: 0.7vw;
  }
  ul li img {
    height: 15vw;
  }
}

@media screen and (max-width: 576px) {
  .sectionHeading {
    font-size: 2vw;
    margin-bottom: -2vw;
  }
  ul li {
    margin: 0.7vw;
  }
  ul li img {
    height: 15vw;
  }
}

/* Contact us section  */
.contact_us{
  margin: 10px;
  display: flex;
  flex-direction: row;
  border: 1px solid black;
}
.contact_us ul{
  margin: 5vw;

}
.contact_us ul li {
  display: flex;
  flex-direction: column;
  width: 10vw;
}
.c1{
  font-size: 18px ;
  font-family:"Arial" ;
  color: white;
}
.c2 a {
  text-decoration: none;
}
.c2_1 {
  color: grey;
}
#contact-container {
  display: flex;
  flex-direction: row;
  color:white;
  width:80vw;
  margin:5vw;
}
#heading span {
  display: flex;
  flex-direction: column;
  margin-bottom: 4%;
  font-size: 18px ;
  font-family:"Arial" ;
  color: white;
}

#form{
  width:40%;
  margin-right:40px;
}
#contact-detail input,
textarea {
  background: inherit;
  border: none;
}
#contact-detail button{
  background:inherit;
  color:white;
  padding:10px;
  border-color:white;
margin-left: 30%;
}
