/*font for heading of BestOffers section*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@500&display=swap");

body {
  background-color: #242b2e;
  color: white;
  /**/
  /**/
  /**/
  margin-top: 10%;
}

section .bottomhr {
  margin: 3rem auto 3rem auto;
  background-color: rgba(159, 159, 159, 0.293);
  height: 0.2rem;
  width: 90%;
  border: none;
}

.sectionHead {
  margin-top: 3.3%;
  margin-bottom: 3.1%;
}
.sectionHeading {
  /*font-family: "Montserrat", "sans-serif";*/
  font-family: "Zilla Slab", serif;
  font-size: 2.4vw;
  margin-left: 3%;
}

.sectionHeadingLeftLine {
  width: 10%;
  display: inline-block;
  margin-left: -5%;
}

.sectionHeadingLeftCircle {
  margin-left: -1%;
}

.sectionHeadingRightLine {
  width: 46%;
  display: inline-block;
  margin-left: 3%;
}

.sectionHeadingRightCircle {
  margin-left: -47%;
}

.sectionHead h2 {
  width: 50%;
  display: inline;
}

.listOfOffers {
  list-style: none;
  /*padding: auto;*/
  padding: 0;
  text-align: center;
}

ul li {
  display: inline-block;
  flex-wrap: wrap;
  margin: 1.1vw;

  width: 28%;
}

ul li img {
  height: 15vw;
  width: 100%;
  border-radius: 8%;
}

ul li :hover {
  transform: scale(1.1);
  transition: 0.3s;
}

@media screen and (max-width: 768px) {
  .sectionHeading {
    font-size: 2vw;
    margin-bottom: -2vw;
  }
  ul li {
    margin: 0.7vw;
  }
  ul li img {
    height: 15vw;
  }
}

@media screen and (max-width: 576px) {
  .sectionHeading {
    font-size: 2vw;
    margin-bottom: -2vw;
  }
  ul li {
    margin: 0.7vw;
  }
  ul li img {
    height: 15vw;
  }
}

/*------------------------Restraunts with food delivery -------------------------*/

.Restaurants .container {
  padding-top: 5%;
  position: relative;
  margin: 0 auto;
}

.TitleBar {
  font-family: "Zilla Slab", serif;
  font-size: 2.4vw;
  font-weight: bolder;
  margin-left: 3%;
}

.TitleBar::after {
  content: "";
  width: 40%;
  height: 2px;
  background-color: white;
  position: absolute;
  margin-left: 40px;
  margin-top: 1.45rem;
}

.container .ItemBar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 40px;
}

/*.ItemBar ::after{
  color :cornflowerblue;
  position: absolute;
  content: '';
  left: 0;
  right: 0;
  top: 81px;
  height: 1px;
  
}*/

.ItemBar div {
  width: 150px;
  font-size: 16px;
  font-weight: 300;
  cursor: pointer;
  text-align: center;
}

.ItemBar div:hover {
  border: 1px solid white;
  font-size: 15px;
  transition: all 0.2s ease-in-out;
  border-radius: 10%;
}

.ItemBar .NewOnAromaAdda,
.Ratings,
.PureVeg,
.FastDelivery,
.Cost {
  border-bottom: 1px solid white;
}

.RestaurantsList {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  justify-content: space-between;
  margin-bottom: 80px;
  padding-top: 39px;
  margin-top: 25px;
  cursor: pointer;
}

.RestaurantsList .ListItem {
  padding: 25px 25px 57px;

  contain: content;
}

.RestaurantsList .ListItem:hover {
  transition: all 0.2s ease-in-out;
  transform: scale(0.94);
}

.ItemContent {
  width: 100%;
  height: 320px;
  position: relative;
}

.TopImg {
  position: relative;
}

.TopImg img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  position: relative;
  border-radius: 20px;
  transition: 0.2s ease;
}

.BottomLeft {
  position: absolute;
  margin-top: -20px;
  font-weight: bolder;
  font-size: large;
  width: 100%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.BottomLeftTitle {
  text-align: center;
}

.PlaceName {
  margin-top: 14px;
}

.PlaceName .name {
  font-size: 18px;
  font-weight: 600;
  word-break: break-word;
}

.PlaceName .FoodItems {
  height: 30px;
  font-size: 15px;
  margin-top: 7px;
  font-weight: 300;
  color: lightgrey;
}

.Info {
  display: flex;
  text-align: center;
  margin-top: 18px;
  font-size: 15px;
  justify-content: space-between;
  font-weight: 300;
}

.Info .rating {
  height: 20px;
  width: 36px;
  padding: 0 5px;
  font-weight: 400;
  display: flex;
  align-items: center;
}

.StarIcon {
  font-size: 10px;
  margin-right: 4px;
  position: relative;
  top: -1px;
}
.Info .Veg,
.NonVeg {
  font-size: 13px;
  margin-right: 4px;
  position: relative;
  top: 2px;
  width: 12px;
  height: 12px;
}

.Info .Veg {
  border: 1px solid #00ff00;
}

.Info .NonVeg {
  border: 1px solid #ff0000;
}

.Offer {
  border-top: 1px solid #e9e9eb;
  padding-top: 14px;
  margin-top: 14px;
  color: #b29700;
  display: flex;
  align-items: center;
  font-weight: 600;
}

.Offer .OfferIcon {
  font-size: 16px;
  width: 20px;
  height: 16px;
  margin-right: 4px;
  margin-top: -3px;
}

.Offer .OfferText {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
}

.ShowMore {
  padding: 5px 650px;
  margin: 0 auto;
  font-size: 20px;
  height: 30px;
}

.ShowMoreBtn {
  width: 200px;
  height: 30px;
  font-size: 18px;
  border: 1px solid white;
  background: transparent;
  color: #e9e9eb;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.2s;
}

.ShowMoreBtn:hover {
  background: rgb(100, 208, 70);
  transform: scale(1.04);
  color: black;
}

@media screen and (max-width: 768px) {
  .RestaurantsList {
    grid-template-columns: repeat(2, 50%);
  }
  .ShowMore {
    padding: 5px 150px;
  }

  .ItemBar {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .RestaurantsList {
    grid-template-columns: repeat(1, 90%);
  }
  .ShowMore {
    padding: 5px 50px;
  }

  .ItemBar {
    display: none;
  }
}

/*Contact us section  */

#contact-container {
  color: white;
  width: 50vw;
  margin: 2vw;
  margin-left: 20vw;
  padding: 3vw;
  border: 2px solid;
  border-radius: 5px;
}

#form {
  width: 40vw;
  margin-left: 3.5vw;
  margin-top: -1vw;
}

#contact-detail input {
  border: none;
  background: inherit;
  outline: none;
  color: whitesmoke;
  width: auto;
  resize: none;
  font-size: 1vw;
  height: 4vw;
}

#contact-detail textarea{
  border: none;
  background: inherit;
  outline: none;
  color: whitesmoke;
  width: auto;
  resize: none;
  margin-top: 1.5vw;
  height: 3vw;
}
#contact-detail label{
  font-size: 1vw;
  display:inline-block;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  left: -0.5vw;
  
}

#contact-detail button {
  background: inherit;
  color: white;
  padding: 10px;
  border-color: white;
  border-radius: 3px;
  margin-left: 15vw;
  margin-top: 5%;
  transition: .5s;
  font-size: 1.1vw;

}
#contact-detail button:hover{
  background: #48bc54;
  color: black;
  padding: 8px;
  font-size: 1.3vw;
  border-radius: 7px;
}


@media screen and (max-width: 768px){
  #contact-container{
    width: 60vw;
  }
  #form {
        width: 50vw;
    }

    #contact-detail button{
        padding:6px;
        font-size: 1.5vw;
    }
}
@media screen and (max-width: 576px){
  #contact-container{
    width: 60vw;
  }

  #form {
      width: 50vw;
    }

  #contact-detail button{
    padding:6px;
    font-size: 2vw;
  }
}

/* Footer section */

.footerSection{
  display: flex;
  flex-direction: row;
  background-color: black;
  padding: 0.5vw;
}

.mainName {
  text-align: left;
  margin: 2vw;
  width:20vw;
}

.logoName {
  display: flex;
  flex-direction: row;
  justify-content: left;
  font-size: 2vw;
  margin: 0.5rem;
  width:40vw;
}

.logoData {
  margin-left: 3vw;
  color: lightgray;
  font-size: 1vw;
  line-height: 0.2rem;
  width: 40vw;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 2vw;
}

.footerHeading ul li {
  display: flex;
  flex-direction: row;
  color: lightgray;
  width: max-content;
}

/* contact footer */

.addressHeading {
  font-size: 1.1vw;
  font-family: "Arial";
  color: white;
  width: max-content;
}
.address a{
  text-decoration: none;
  color: lightgray;
}

.c2_1 {
  font-size: 1vw;
}

/* Social Icons */

.horizontal-list {
  list-style: none;
  padding-left: 0px;
  margin: 0px;
  position: absolute;
  margin-top: 2vw;

}

.horizontal-list li {
  display: inline-block;
  margin: 0px 8px 8px 0px;
  font-weight: 100;
  font-size: 0.9rem;
  width: 3vw;
}

.horizontal-list li a {
  color: white;
  text-decoration: none;
}

.social-icons li a i {
  padding: 10px;
  font-size: 1rem;
  border-radius: 50%;
}

.social-icons li a i:hover {
  box-shadow: 0px 0px 6px 4px rgba(230, 196, 196, 0.3);
}

@media  screen and (max-width: 768px){
    .logoName{
        font-size:2.5vw;
    }
    .logoData{
        font-size: 1.5vw;
        margin-left: 4vw;
    }
    .gridContainer {
        grid-template-columns: repeat(3, 1fr);

    }
    .address .addressHeading{
        font-size: 2vw;
    }
    .address .c2_1 {
        font-size: 1.8vw;
      }
    .horizontal-list li{
      width: 2vw;
    }
    .social-icons li a i {
      font-size: 0.7rem;
    }
}

@media  screen and (max-width: 576px){
    .logoName{
      font-size:2.5vw;
    }
    .logoData{
      font-size: 1.5vw;
    }
    .gridContainer {
      grid-template-columns: repeat(2, 1fr);
    }
    .address .addressHeading{
      font-size: 2vw;
    }
    .address .c2_1 {
      font-size: 1.8vw;
    }
    .horizontal-list li{
      width: 1.5vw;
    }
    .social-icons li a i {
      font-size: 0.7rem;
    }

}

/* Deepa */

.heading {
  font-family: "Zilla Slab", serif;
  font-size: 2.4vw;
  margin-left: 3%;
}

/* .heading::after {
  content: '';
  width: 65%;
  height: 2px;
  background-color: white;
  position: absolute;
  margin-left: 40px;
  margin-top: 1.45rem;
} */

.top-brands .container {
  display: flex;
  width: calc(100%-50px);
  margin-left: 50px;
  margin-right: 50px;
  overflow-x: scroll;
  gap: 25px;
  padding-bottom: 30px;
}

.top-brands .container::-webkit-scrollbar {
  width: 5px;
  height: 8px;
}

/* Track */
.top-brands .container::-webkit-scrollbar-track {
  background: #5555557c; 
  border-radius: 10px; 
}
 
/* Handle */
.top-brands .container::-webkit-scrollbar-thumb {
  background: #8b89897c; 
  border-radius: 10px;
}


/* Handle on hover */
.top-brands .container::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.top-brands .image img{
  width: 17rem;
  height: 13rem;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  object-fit: cover;
  
}

.top-brands .content {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto';
  margin-top: 5px;
  padding: 4px;
}

.top-brands .content h4, p, h5 {
  margin: 3px;
}

/* .top-brands .content h5 { */
  color: #999;
}

.top-brands .brand {
  transition: 0.3s transform;
  
}

.top-brands .brand:hover {
  transform: scale(1.05);
  background-color: #e3e7e9;
  color: #353434;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}


@media screen and (max-width: 768px) {
  .heading {
    font-size: 2vw;
    margin-bottom: -2vw;
  }

  .top-brands .container {
    margin-top: 4%;
    margin-left: 6%;
    margin-right: 6%;
  }

  .top-brands .image img {
    width: 9rem;
    height: 6rem;
  }


@media screen and (max-width: 576px) {
  .heading {
    font-size: 2vw;
    margin-bottom: -2vw;
  }

  .top-brands .container {
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
  }
  
  .top-brands .image img {
    width: 7rem;
    height: 5rem;
  }

  .top-brands .content p h5 {
    font-size: 0;
  }

/* Deepa */
