/*font for heading of BestOffers section*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@500&display=swap");

body {
  background-color: #242b2e;
  color: white;
  /**/
  /**/
  /**/

  margin: 10% 0% 0% 0%;
}

section .bottomhr {
  margin: 3rem auto 3rem auto;
  background-color: rgba(159, 159, 159, 0.293);
  height: 0.2rem;
  width: 90%;
  border: none;
}

.sectionHead {
  margin-top: 5%;
  margin-bottom: 3.1%;
}
.sectionHeading {
  /*font-family: "Montserrat", "sans-serif";*/
  font-family: "Zilla Slab", serif;
  font-size: 2.4vw;
  margin-left: 3%;
}

.sectionHeadingRightLine {
  width: 58%;
  display: inline-block;
  margin-left: 3%;
}

.restaurnantsHeadingLine {
  width: 37% !important;
}
.contactHeadingLine {
  width: 65% !important;
}

.sectionHead h2 {
  width: 50%;
  display: inline;
}

#aboutUs {
  font-size: 1.3vw;
  font-family: "Zilla Slab", serif;
  font-weight: 100;
  text-align: justify;
  padding-inline-start: 2.5em;
  padding-inline-end: 2.5em;
  line-height: 120%;
}

.aboutUsContent {
  /*if needed*/
}

.listOfOffers {
  list-style: none;
  /*padding: auto;*/
  padding: 0;
  text-align: center;
}

.listOfOffers li {
  display: inline-block;
  flex-wrap: wrap;
  margin: 1.1vw;

  width: 28%;
}

.listOfOffers li img {
  height: 15vw;
  width: 100%;
  border-radius: 8%;
}

.listOfOffers li :hover {
  transition: 0.5s;
  transform: scale(1.1);
  box-shadow: 0vw 0.5vw 1.5vw #000000;
}

@media screen and (max-width: 768px) {
  .sectionHeading {
    font-size: 2vw;
    margin-bottom: -2vw;
  }
  .listOfOffers li {
    margin: 0.7vw;
  }
  .listOfOffers li img {
    height: 15vw;
  }

  /* =========================== */

  .filtersTag {
    font-size: 1.4vw;
  }

  .filterListItems {
    padding: 0.4vw 1vw;
    font-size: 1.4vw;
  }
}

@media screen and (max-width: 600px) {
  body {
    padding-left: 0.5% !important;
    padding-right: 0.5% !important;
  }
}

@media screen and (max-width: 576px) {
  .sectionHeading {
    font-size: 2vw;
    margin-bottom: -2vw;
  }
  .listOfOffers li {
    margin: 0.7vw;
  }
  .listOfOffers li img {
    height: 15vw;
  }
}

/*------------------------Restraunts with food delivery -------------------------*/
.Restaurants .container {
  position: relative;
  /* margin: 0 auto;*/
  width: 90.5%;
  margin-left: 4.3%;
}

.filterContainer {
  margin-top: 1.2vw;
  margin-left: 5vw;
}

.filtersTag {
  display: inline-block;
  margin-right: 2vw;
  font-size: 1.3vw;
  font-weight: 400;
  padding: 0.5vw;
}
.filterList {
  display: inline-block;
  padding-inline-start: 0;
}

.filterListItems {
  display: inline-block;
  font-size: 1.1vw;
  margin-right: 5vw;
  padding: 0.4vw 2vw;
  background-color: rgb(124, 124, 124);
  border-radius: 0.5vw;
}

.filterListItems:hover {
  cursor: pointer;
  background-color: rgb(218, 218, 218);
  color: black;
}

.TitleBar {
  font-family: "Zilla Slab", serif;
  font-size: 2.4vw;
  font-weight: bolder;
  margin-left: 3%;
}

.TitleBar::after {
  content: "";
  width: 40%;
  height: 2px;
  background-color: white;
  position: absolute;
  margin-left: 40px;
  margin-top: 1.45rem;
}

.container .ItemBar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 10vh;
}

.ItemBar ::after {
  color: cornflowerblue;
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  top: 81px;
  height: 1px;
}

.ItemBar div {
  width: 10vw;
  font-size: 16px;
  font-weight: 300;
  cursor: pointer;
  text-align: center;
}

.ItemBar div:hover {
  border: 1px solid white;
  font-size: 15px;
  transition: all 0.2s ease-in-out;
  border-radius: 10%;
}

.RestaurantsList {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  justify-content: space-between;
  margin-bottom: 10vh;
  /*margin-top: 25px;*/
  margin-top: 4vh;
}

.RestaurantsList .ListItem {
  /* padding: 25px 25px 57px;*/
  /*padding : 3vh 3vh 5vh;*/
  margin-left: 1vw;
  margin-right: 1vw;
  contain: content;
  padding-bottom: 1vw;
  margin-bottom: 2vw;
  cursor: pointer;
}

.RestaurantsList .ListItem:hover {
  transition: all 0.2s ease-in-out;
  transform: scale(0.95);
  background-color: #e3e7e9;
  color: #353434;
  border-radius: 4%;
}

.ItemContent {
  /* height: 320px;*/

  padding-left: 0.7vw;
  padding-right: 0.7vw;

  position: relative;
}

.TopImg {
  position: relative;
}

.TopImg img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  position: relative;

  border-top-right-radius: 4%;
  border-top-left-radius: 4%;

  transition: 0.2s ease;
}

.BottomLeft {
  background: #190557fa;
  color: rgb(255, 255, 255);
  border-color: rgb(30, 32, 35) transparent;
  margin-top: -15%;
  margin-left: -4%;
  width: fit-content;
  padding: 0.5%;
  padding-right: 1.5%;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.BottomLeftTitle {
  text-align: left;
}

.PlaceName {
  margin-top: 2vw;
}

.PlaceName .name {
  font-size: 1.2vw;
  font-weight: 600;
  word-break: break-word;
  display: inline;
}

.PlaceName .FoodItems {
  height: 30px;
  font-size: 1vw;
  margin-top: 7px;
  font-weight: 100;
  color: #999;
}

.Info {
  margin-top: 18px;
  font-size: 15px;
  font-weight: 300;
  display: flex;
  justify-content: space-between;
}

.rating {
  height: 20px;
  padding: 0 1vw;
  font-weight: 400;
  display: inline;
  margin: auto;
  float: right;
}

.Veg {
  color: #0da80d;
}

.NonVeg {
  color: #bf1919;
}

.vegOrNonVeg {
  display: inline;
}

.StarIcon {
  font-size: 1vw;
  margin-right: 4px;
  position: relative;
  top: -1px;
}
.Info .Veg,
.NonVeg {
  display: inline;
  font-size: 13px;
  margin-right: 4px;
  position: relative;
  top: 2px;
  width: 12px;
  height: 12px;
}

.deliveryTime {
  display: inline;
}

/*.Info .Veg {
  border: 1px solid #00ff00;
}

.Info .NonVeg {
  border: 1px solid #ff0000;
}
*/

.Offer {
  padding-top: 14px;
  margin-top: 14px;
  color: #b29700;
  display: flex;
  align-items: center;
  font-weight: 600;
  border-top: 0.1vw solid gray;
}

.Offer .OfferIcon {
  font-size: 16px;
  width: 20px;
  height: 16px;
  margin-right: 4px;
  margin-top: -3px;
}

.Offer .OfferText {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
}

.ShowMore {
  /* padding: 5px 650px;*/
  /*padding: 0 50vw;*/
  width: 89vw;
  font-size: 20px;
  height: 30px;
  text-align: center;
}

.ShowMoreBtn {
  width: 10%;
  font-size: 1vw;
  border: none;
  background-color: rgb(219, 219, 219);
  color: black;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.2s;
  left: 50%;
  padding: 0.5vw;
}
.ShowMoreBtn i {
  padding-left: 1vw;
}

.ShowMoreBtn:hover {
  background-color: rgb(167, 167, 167);
  transform: scale(1.04);
  color: black;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .RestaurantsList {
    grid-template-columns: repeat(2, 50%);
  }
  .BottomLeft {
    padding: 0.3%;
    margin-left: -2%;
    left: 10%;
  }

  .PlaceName {
    margin-top: 4vh;
  }

  .PlaceName .FoodItems {
    height: 30px;
    font-size: 1.8vw;
    margin-top: 7px;
    font-weight: 100;
    color: #999;
  }
  .StarIcon {
    font-size: 1.7vw;
  }

  .ShowMore {
    /* padding: 5px 650px;*/
    /*padding: 0 50vw;*/
    width: 89vw;
    font-size: 3vw;
    height: 30px;
    text-align: center;
  }

  .ShowMoreBtn {
    width: 15%;
    font-size: 2.5vw;
    border: none;
    background-color: rgb(219, 219, 219);
    color: black;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.2s;
    left: 50%;
    padding: 0.5vw;
  }
}

@media screen and (max-width: 576px) {
  .RestaurantsList {
    width: 83vw;
    grid-template-columns: repeat(1, 80%);
    justify-content: center;
  }
  .ListItem {
    margin-bottom: 5%;
  }

  .PlaceName {
    margin-top: 4vh;
  }

  .PlaceName .FoodItems {
    height: 30px;
    font-size: 2.3vw;
    margin-top: 7px;
    font-weight: 100;
    color: #999;
  }
  .StarIcon {
    font-size: 2.4vw;
  }

  .ShowMore {
    /* padding: 5px 650px;*/
    /*padding: 0 50vw;*/
    margin-top: 10%;
    width: 83vw;
    font-size: 3vw;
    height: 5vh;
    text-align: center;
  }

  .ShowMoreBtn {
    width: 20%;
    font-size: 3vw;
    border: none;
    background-color: rgb(219, 219, 219);
    color: black;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.2s;
    left: 50%;
    padding: 0.5vw;
  }
}

/*Contact us section  */

#contact-container {
  color: white;
  width: 50vw;
  margin: 2vw;
  margin-left: 20vw;
  padding: 3vw;
  border: 2px solid;
  border-radius: 5px;
}

#form {
  width: 50vw;
  margin-left: 3.5vw;
  margin-top: -1vw;
}

#contact-detail input {
  display: inline;
  border: none;
  border-bottom: 2px solid white !important;
  background: inherit;
  outline: none;
  color: whitesmoke;
  width: auto;
  resize: none;
  margin: 0 1.5vw;
  font-size: 1vw;
  height: 2vw;
}

#contact-detail textarea {
  display: block;
  font-size: 1vw;
  border: none;
  border-bottom: 2px solid white !important;
  background: inherit;
  outline: none;
  color: whitesmoke;
  width: 16vw;
  resize: none;
  margin-top: 1.5vw;
  margin-left: 9vw;
  height: 2vw;
}

#contact-detail label {
  display: inline;
  font-size: 1vw;
  font-family: Arial, Helvetica, sans-serif;
}

#contact-detail .emailInput {
  margin: 0 4vw;
  width: 16vw;
}
.name,
.email {
  display: block;
  margin: 30px;
  width: 45vw;
}
.nameLabel {
  font-family: sans-serif;
}
.emailLabel {
  font-family: sans-serif;
  width: 5vw;
  margin-top: 5%;
  left: 0.5vw !important;
}

#contact-detail button {
  background: inherit;
  color: white;
  padding: 10px;
  border-color: white;
  border-radius: 3px;
  margin-left: 15vw;
  margin-top: 5%;
  transition: 0.5s;
  font-size: 1.1vw;
}

#contact-detail button:hover {
  background: rgb(219, 219, 219);
  color: black;
  border-radius: 5px;
}

@media screen and (max-width: 768px) {
  #contact-container {
    width: 60vw;
  }
  #form {
    width: 50vw;
  }
  #contact-detail textarea {
    margin-left: 12vw;
  }
  #contact-detail button {
    padding: 6px;
    font-size: 1.5vw;
  }
}
@media screen and (max-width: 576px) {
  #contact-container {
    width: 60vw;
  }

  #form {
    width: 50vw;
  }
  #contact-detail textarea {
    margin-left: 13vw;
  }
  #contact-detail button {
    padding: 6px;
    font-size: 2vw;
  }
}

/* Footer section */

.footerSection {
  display: flex;
  flex-direction: row;
  background-color: black;
  padding: 0.5vw;
  width: auto;
}

.mainName {
  text-align: left;
  margin: 2vw;
  width: 20vw;
}

.logoName {
  display: flex;
  flex-direction: row;
  justify-content: left;
  font-size: 2vw;
  margin: 0.5rem;
  width: 30vw;
}

.logoData {
  margin-left: 3vw;
  color: lightgray;
  font-size: 1vw;
  line-height: 0.2rem;
  width: 40vw;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 2vw;
}

.footerHeading {
  margin: 0 3vw;
}

.footerHeading ul li {
  display: flex;
  flex-direction: row;
  color: lightgray;
  width: max-content;
}

/* contact footer */

.addressHeading {
  font-size: 1.1vw;
  font-family: "Arial";
  color: white;
  width: max-content;
}
.address a {
  text-decoration: none;
  color: lightgray;
}

.c2_1 {
  font-size: 1vw;
}

/* Social Icons */

.horizontal-list {
  list-style: none;
  padding-left: 0px;
  margin: 0px;
  position: absolute;
  margin-top: 2vw;
}

.horizontal-list li {
  display: inline-block;
  margin: 0px 8px 8px 0px;
  font-weight: 100;
  font-size: 0.9rem;
  width: 3vw;
}

.horizontal-list li a {
  color: white;
  text-decoration: none;
}

.social-icons li a i {
  padding: 10px;
  font-size: 1rem;
  border-radius: 50%;
}

.social-icons li a i:hover {
  box-shadow: 0px 0px 6px 4px rgba(230, 196, 196, 0.3);
}

@media screen and (max-width: 768px) {
  .logoName {
    font-size: 2.5vw;
  }
  .logoData {
    font-size: 1.5vw;
    margin-left: 4vw;
  }
  .gridContainer {
    grid-template-columns: repeat(2, 1fr);
  }
  .address .addressHeading {
    font-size: 2vw;
  }
  .address .c2_1 {
    font-size: 1.8vw;
  }
  .horizontal-list li {
    width: 2vw;
  }
  .social-icons li a i {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 576px) {
  .logoName {
    font-size: 2.5vw;
  }
  .logoData {
    font-size: 1.5vw;
  }
  .gridContainer {
    grid-template-columns: repeat(2, 1fr);
  }
  .address .addressHeading {
    font-size: 2vw;
  }
  .address .c2_1 {
    font-size: 1.8vw;
  }
  .horizontal-list li {
    width: 1.5vw;
  }
  .social-icons li a i {
    font-size: 0.7rem;
  }
}

/* Deepa */
/* .top-brands{
  width: auto;
} */

.heading {
  font-family: "Zilla Slab", serif;
  font-size: 2.4vw;
  margin-left: 3%;
  width: 90vw;
}

/* .heading::after {
  content: '';
  width: 65%;
  height: 2px;
  background-color: white;
  position: absolute;
  margin-left: 40px;
  margin-top: 1.45rem;
} */

.top-brands .container {
  display: flex;
  width: calc(100%-50px);
  margin-left: 50px;
  margin-right: 50px;
  overflow-x: scroll;
  gap: 25px;
  padding-bottom: 30px;
}

.top-brands .container::-webkit-scrollbar {
  width: 5px;
  height: 8px;
}

/* Track */
.top-brands .container::-webkit-scrollbar-track {
  background: #5555557c;
  border-radius: 10px;
}

/* Handle */
.top-brands .container::-webkit-scrollbar-thumb {
  background: #8b89897c;
  border-radius: 10px;
}

/* Handle on hover */
.top-brands .container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.top-brands .image img {
  width: 17rem;
  height: 13rem;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  object-fit: cover;
}

.top-brands .content {
  display: flex;
  flex-direction: column;
  font-family: "Roboto";
  margin-top: 5px;
  padding: 4px;
}

.top-brands .content h4,
p,
h5 {
  margin: 3px;
}

/* .top-brands  */
.content h5 {
  color: #999;
}

.top-brands .brand {
  transition: 0.3s transform;
}

.top-brands .brand:hover {
  transform: scale(1.05);
  background-color: #e3e7e9;
  color: #353434;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}

@media screen and (max-width: 768px) {
  .heading {
    font-size: 2vw;
    margin-bottom: -2vw;
  }

  .top-brands .container {
    margin-top: 4%;
    margin-left: 6%;
    margin-right: 6%;
  }

  .top-brands .image img {
    width: 9rem;
    height: 6rem;
  }
}

@media screen and (max-width: 576px) {
  .heading {
    font-size: 2vw;
    margin-bottom: -2vw;
  }

  .top-brands .container {
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
  }

  .top-brands .image img {
    width: 7rem;
    height: 5rem;
  }

  .top-brands .content p h5 {
    font-size: 0;
  }
}

/* Deepa */
